    @font-face{
        font-family:"Neue Haas Grotesk W01 Disp_n4";
        src:url("Fonts/d5211394-289b-4a20-a4c5-69e82b7f1cdc.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Neue Haas Grotesk W01 Disp";
        src:url("Fonts/d5211394-289b-4a20-a4c5-69e82b7f1cdc.eot?#iefix");
        src:url("Fonts/d5211394-289b-4a20-a4c5-69e82b7f1cdc.eot?#iefix") format("eot"),url("Fonts/fcd607c0-74ab-4cb5-90c3-db118b1ad287.woff2") format("woff2"),url("Fonts/5f644ac3-aa3c-43a7-ae6e-79075f4766df.woff") format("woff"),url("Fonts/88228648-8c26-4d51-a51b-f92564a92392.ttf") format("truetype"),url("Fonts/24bd485c-6511-4e93-91d9-4764d66fc2df.svg#24bd485c-6511-4e93-91d9-4764d66fc2df") format("svg");
font-weight: 400;
font-style: normal;
    }
    @font-face{
        font-family:"Neue Haas Grotesk W01 Disp_n5";
        src:url("Fonts/c34970a0-5fd3-4c92-b10d-b8dbd145f0e6.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Neue Haas Grotesk W01 Disp";
        src:url("Fonts/c34970a0-5fd3-4c92-b10d-b8dbd145f0e6.eot?#iefix");
        src:url("Fonts/c34970a0-5fd3-4c92-b10d-b8dbd145f0e6.eot?#iefix") format("eot"),url("Fonts/1d2142cb-3e68-48df-b188-f1ac45a47a8b.woff2") format("woff2"),url("Fonts/9dc6c76b-0260-4292-af1d-0bc9eecbded2.woff") format("woff"),url("Fonts/ed18aa48-557e-4d1f-a53c-58399a7c1bc4.ttf") format("truetype"),url("Fonts/5b9068b3-d518-4b0a-a5a2-1aa25714df22.svg#5b9068b3-d518-4b0a-a5a2-1aa25714df22") format("svg");
font-weight: 500;
font-style: normal;
    }
    @font-face{
        font-family:"Neue Haas Grotesk W01 Disp_n6";
        src:url("Fonts/83d6b8f7-bd47-4e8d-a359-27b74d3100f6.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Neue Haas Grotesk W01 Disp";
        src:url("Fonts/83d6b8f7-bd47-4e8d-a359-27b74d3100f6.eot?#iefix");
        src:url("Fonts/83d6b8f7-bd47-4e8d-a359-27b74d3100f6.eot?#iefix") format("eot"),url("Fonts/75e1af8f-1a4c-475a-8b53-f27e52822b6b.woff2") format("woff2"),url("Fonts/2ba6fbd5-9c17-4733-af15-f49fbecc5c15.woff") format("woff"),url("Fonts/7dcf6c37-4fb4-4211-9808-6a39bfa89e0d.ttf") format("truetype"),url("Fonts/1baaf9ba-feec-45ca-a826-7bcf9f8e5b21.svg#1baaf9ba-feec-45ca-a826-7bcf9f8e5b21") format("svg");
font-weight: 600;
font-style: normal;
    }
    @font-face{
        font-family:"Neue Haas Grotesk W01 Disp_n7";
        src:url("Fonts/ed82538c-6090-4c05-ac72-c636496df8de.eot?#iefix") format("eot")
    }
    @font-face{
        font-family:"Neue Haas Grotesk W01 Disp";
        src:url("Fonts/ed82538c-6090-4c05-ac72-c636496df8de.eot?#iefix");
        src:url("Fonts/ed82538c-6090-4c05-ac72-c636496df8de.eot?#iefix") format("eot"),url("Fonts/c24b7456-b9fe-40ab-94af-ba8d3025fada.woff2") format("woff2"),url("Fonts/da47ecd2-feea-403e-b247-9f8f5bb5157b.woff") format("woff"),url("Fonts/0deba34f-9242-462b-a359-74e95714f821.ttf") format("truetype"),url("Fonts/31c5f190-f4d8-436b-99bf-0561dd448586.svg#31c5f190-f4d8-436b-99bf-0561dd448586") format("svg");
font-weight: 700;
font-style: normal;
    }
