/************************************************

Stylesheet: Global Stylesheet

*************************************************/

/*********************
TYPOGRAPHY - DG
.h1, .h2 are used to style p or other elements like an h1 or h2 etc.
*********************/
h1, h2, h3, h4, .h1, .h2, .h3, .h4, {
	font-weight: 700;
	color: #1e161d;
}
p {
	font-size: 18px;
	font-weight: 500;
}
.article-header {
	margin-bottom: 0;
}

/*********************
MAIN NAV - DG
*********************/
.top-bar {
	font-size: 24px;
	font-weight: bold;
	padding: 0;
	
	@include breakpoint(medium) {
		height: rem-calc(60px);
	}
}
.top-bar-left {
	font-size: rem-calc(32px);
}
.menu a {
	color: #F2DFD3;	
	&:hover {
		color: white;
	}
}
.submenu {
	background-color: rgba(29, 22, 28, 0.76);
}
.is-dropdown-submenu {
	background-color: rgba(29, 22, 28, 0.76);
}
.button {
	font-weight: bold;
}
.current-menu-item {
	background-color: rgba(29, 22, 28, 0.0);
}

// SPACING BETWEEN NAVIGATION ITEMS
.dropdown.menu a {
	@include breakpoint(medium){ 
		padding: 0 12px 0 0;
	}
	@include breakpoint(xmedium){ 
		padding: 0.7rem 1rem;
	}
	@include breakpoint(large){ 
		padding: 0.7rem 1rem;
	}	
}	

/*********************
MOBILE NAV - DG
*********************/
.title-bar {
	background-color: $eerie-black !important;
}
button.menu-icon {
	margin-left: 30px;
	outline: none;
}
div.title-bar-title {
	margin: auto;
	text-align: center;
}
.title-bar-title a {
	font-size: 28px;
	color: $white;
}


/*********************
BOTTOM NAV used to be here
*********************/


/*********************
Banner Content - DG
*********************/

.marketing-site-hero-content {
	line-height: .5px;
	color: #F2DFD3 !important;	
	font-size: 48px;
	


// TODO CSS Snap Points
// https://css-tricks.com/introducing-css-scroll-snap-points/	
	// overflow-x: hidden;
 //  	position: absolute;
	//  top: 0;
	//  width: 100%;
	//  height: 100%;
	//  overflow: auto;
	//  -webkit-scroll-snap-points-y: repeat(100%);
	//     -ms-scroll-snap-points-y: repeat(100%);
	//           scroll-snap-points-y: repeat(100%);
	//  -webkit-scroll-snap-type: mandatory;
	//     -ms-scroll-snap-type: mandatory;
	//           scroll-snap-type: mandatory;
	// -webkit-scroll-snap-destination: 100% 0%;
	//     -ms-scroll-snap-destination: 100% 0%;
	//         scroll-snap-destination: 100% 0%;
}

/*********************
POSTS & CONTENT STYLES
*********************/
.sticky-container {
	height: 0 !important;
}
.sticky {
	&.is-anchored {
		position: static;
		width: 100%;
		z-index: 5;
			header.header {
				background-color: rgba(#1E161D, 0.4);
				//@include box-shadow(-4px, 1px, 1px, 1px, rgba(0,0,0, 0.6));
				transition: all .50s ease-in-out;
			}
	}
	&.is-stuck {
		header.header {
			background-color: rgba(#1E161D, 1.0);
			//@include box-shadow(-4px, 1px, 1px, 1px, rgba(0,0,0, 0.6));
			transition: all .50s ease-in-out;
		}
	}
}
header.header {
	.dropdown {
		&.menu .is-active>a, 
		&.menu .active>a {
			color: white;
			background: transparent;
		}	
	}
	.dropdown.menu>li.is-dropdown-submenu-parent>a {
    padding-right: 1rem;
    	&:after {
    		display: none;
    	}
	}
	.dropdown.menu>li.opens-left>.is-dropdown-submenu {
		font-size: 20px;
		//margin-top: .5rem; ORIGINAL
		margin-top: rem-calc(7px);
		padding-top: .5rem;
		padding-bottom: .5rem;
    	background-color: rgba(#1E161D, 0.4);
    	border: 0 none transparent;
	}
}	
.page-title {
	// Remove Foundation vcard styling from author page titles
	margin: rem-calc(16.5px);
	.vcard {
		border: 0;
		padding: 0;
	}
}

// Post meta  
.byline {
	color: #999;
	time {}
}
.content {
	padding-top: 2rem;
}
// Sizing div area for Page Title
.content.grid-container {
	padding: 0px;
}

// Entry content  
.entry-content {
	
	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

} 

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption  
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
} 

/*********************
POSTS & CONTENT STYLES - DG
*********************/

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
FULL WIDTH SPLIT TEMPLATE GLOBAL SETTINGS
*********************/
.full-width-split {
min-height: 600px;
}

// LEFT.
.left-content-wrap {
	background-color: #271C25;
}

.left-content {
	
	color: white;
	height: 100%;
	padding: .75rem;
	
		@include breakpoint(small only) {
			h2.about-left {
				margin-top: 20px;
			}
		}
		@include breakpoint(medium){
			padding-bottom: 0;
	}	
}

// RIGHT
.right-content {
	background-color: #D8D8D8;
	height: 100%;
	padding: .75rem;
	margin-left: 0 !important;
	margin-right: -0.0375rem !important;
	
	@include breakpoint(medium){
		padding-bottom: 0;
	}
}

/*********************
ABOUT PAGE SPLIT CONTENT AREA
*********************/

.rwd-line {
	display: block;
}

.about-left-content * {
	color: white;
	padding: 0 20px 0 20px;
	
	@include breakpoint(small only) {
		h2.about-left {
			margin-top: 20px;
		}
	}
}
.about-right-content * {
	padding: 0 20px 0 20px;
}

/*********************
BLURB GLOBAL + ANIMATION GLOBAL STYLES
*********************/

$blurbTop: 70px;

div.blurb-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	width: 100%;
	height: calc(100vh - 140px);
// 	left: 0;
	margin: 0;
	transition: .5s ease-in-out;
	opacity: 1;
	// This toggles the blurb text on and off at small resolutions.
	visibility: visible;
	&.txtAnimate {
		width: 680px;
		visibility: hidden;
		opacity: 0;
	}
} 
.blurb-wrapper2 {
	position: relative;
	width: 100%;
	top: 0;
// 	left: 0;
	margin: 0 !important;
	@include breakpoint(small) { 
		padding-bottom: 25px;
	}
	@include breakpoint(smedium) { 
		padding-bottom: 34px;
	}	
	@include breakpoint(medium) { 
		padding-bottom: 45px;
	}
	@include breakpoint(xmedium) {
		padding-bottom: 55px;
	}
	@include breakpoint(large) {
		padding-bottom: 55px;
	}
	@include breakpoint(xlarge) {
		padding-bottom: 65px;
	}
	@include breakpoint(xxlarge) {
		padding-bottom: 75px;
	}	
	p.blurb {
		position: absolute;
		bottom: 0;
		//left: 0;
		margin: 0 !important;
	}
}
h1.blurb, p.blurb {
	width: 100%;
	position: relative;
	left: 0;
	bottom: 0;
	display: block;
	font-family: 'Neue Haas Grotesk W01 Disp';
	font-weight: bold;
	padding: 1px;
	margin: 0px;
	@include breakpoint(small) { 
		font-size: 22px !important;
	}
	@include breakpoint(smedium) { 
		font-size: 27px !important;
	}	
	@include breakpoint(medium) { 
		font-size: 42px !important;
	}
	@include breakpoint(xmedium) {
		font-size: 50px !important;
	}
	@include breakpoint(large) {
		font-size: 50px !important;
	}
	@include breakpoint(xlarge) {
		font-size: 56px !important;
	}
	@include breakpoint(xxlarge) {
		width: 800px !important; 
		font-size: 64px !important;
	}	
}
p.animated1,p.animated2,p.animated3 {
	opacity: 0;
	animation: move2 10s infinite;
}
p.animated1 {
	animation-name: move1;
}
p.animated2 {
}
p.animated3 {
	animation-delay: 5s;
}

@keyframes move1 {
  0% { opacity: 0; }
  25% { opacity: 0; }
  35% { opacity: 1; }
  60% { opacity: 1; }
  70% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes move2 {
  0% { opacity: 0; }
  30% { opacity: 0; }
  40% { opacity: 1; }
  60% { opacity: 1; }
  70% { opacity: 0; }
  100% { opacity: 0; }
}

.align-middle.marketing-site-hero-content {
		align-items: flex-start;
}

/*********************
FRONT PAGE BLURB
*********************/
div.front-blurb-wrapper {
	@include breakpoint(small) { 
		height: 0px !important;
		justify-content: flex-start;
		margin-top: $blurbTop;
		text-align: left !important;
	}		
	@include breakpoint(smedium) {

	}	
	@include breakpoint(medium) { 
		height: calc(100vh - 50px) !important;
		justify-content: flex-end;
		align-items: flex-end;
		text-align: right !important;
		right: 0;
		margin-top: 30px !important;
	}
	@include breakpoint(xmedium) {
		margin-top: 30px !important;
	}
	@include breakpoint(large) {
		margin-top: 30px !important;
	}
	@include breakpoint(xlarge) { 
		margin-top: 50px !important;
	}
	@include breakpoint(xxlarge) { 
		margin-top: 30px !important;
	}	
}

div.front-blurb-wrapper2 p {

	@include breakpoint(xxlarge) {
		justify-content: flex-end;
		align-items: flex-end;
		text-align: right !important; 
		right: 0;
		left: auto;
	}		
}

/*********************
ABOUT PAGE BLURB
*********************/
div.about-blurb-wrapper {
	@include breakpoint(small) {
		height: calc(100vh - 5px) !important;
		justify-content: flex-end;
		align-items: flex-start; 
		text-align: left !important;
		//margin-top: $blurbTop;
		margin-top: 0px;
	}	
	@include breakpoint(smedium) { 

	}	
	@include breakpoint(medium) { 

	}
	@include breakpoint(xmedium) {

	}
	@include breakpoint(large) {

	}
	@include breakpoint(xlarge) {
		margin-top: 0px !important;
	}
	@include breakpoint(xxlarge) {
		margin-top: 0px !important;
	}
}

div.about-blurb-wrapper2 p {

	@include breakpoint(xxlarge) { 
		left: auto;
	}		
}

.about-blurb-text {
	text-align: left !important;
}


/*********************
ABOUT PAGE STYLES
*********************/
.partner-logo-container {
	
	.grid-x {
		height: 100px;
		.partner-logo-heading {
			display: block;
			width: 100%;
		}	
		.partner-logo {
			display: flex;
			justify-content: center; //horizontal
			img {
				max-height: 50px;
			}
		}
	}	
}




/*********************
PORTFOLIO PAGE BLURB
*********************/
div.portfolio-blurb-wrapper {	
	height: 0px !important;
	justify-content: flex-start;
	margin-top: $blurbTop;
	text-align: right !important;
	@include breakpoint(smedium) { 

	}		
	@include breakpoint(medium) {

	}
	@include breakpoint(xmedium) {

	}
	@include breakpoint(large) {

	}
	@include breakpoint(xlarge) {

	}
	@include breakpoint(xxlarge) { 

	}	
}

div.portfolio-blurb-wrapper2 p {

	@include breakpoint(xxlarge) { 
		right: 0;
		left: auto;
	}		
}


/*********************
WEB DESIGN & DEV PAGE BLURB
*********************/
div.dev-blurb-wrapper {
	@include breakpoint(small) { 
		height: calc(100vh - 5px) !important;
		justify-content: flex-end;
		align-items: flex-end; 
		text-align: left !important;
		margin-top: 0px !important;
	}
	@include breakpoint(smedium) {
		text-align: right !important;	
	}
	@include breakpoint(medium) {

	}
	@include breakpoint(xmedium) { 

	}
	@include breakpoint(large) {

	}
	@include breakpoint(xlarge) {
		margin-top: 0 !important;
	}
	@include breakpoint(xxlarge) { 
		margin-top: 0 !important;
	}	
}

div.dev-blurb-wrapper2 p {

	@include breakpoint(xxlarge) { 
		right: 0;
		left: auto;
	}		
}

/*********************
WEB DESIGN & DEV STYLES
*********************/
.web-dev-left-content * {
	color: white;
	margin-left: 20px;
}
.web-dev-right-content * {
	color: #1e161d;
	margin-left: 20px;
}
.dev-text-small {
	margin: 0 20px 20px 20px;
}

.service-button {
	display: none;
}

/*********************
SEO PAGE BLURB
*********************/
div.blurb-seo-page {
	@include breakpoint(small) { 
		height: calc(100vh - 5px) !important;
		justify-content: flex-end;
		align-items: flex-end; 
		text-align: left !important;
		
	}
	@include breakpoint(smedium) { 
		
	}
	@include breakpoint(medium) {
		text-align: right !important;
	}
	@include breakpoint(xmedium) {

	}
	@include breakpoint(large) { 

	}
	@include breakpoint(xlarge) { 

	}
	@include breakpoint(xxlarge) { 

	}	
}

div.seo-blurb-wrapper2 p {

	@include breakpoint(xxlarge) { 
		right: 0;
		left: auto;
	}		
}

/*********************
SEO SERVICE PAGE CONTENT
*********************/
div.seo-left-content * {
	color: white;
	margin-left: 20px;
}
.seo-right-content {
	padding-top: 40px;
	padding-bottom: 40px;
}
div.seo-right-content * {
	color: #1e161d;
	margin-left: 20px;
}
.seo-text-small {
	margin: 0 20px 20px 20px;
}

/*********************
DIGITAL MARKETING & PR SERVICE PAGE BLURB
*********************/
div.pr-blurb-wrapper {
	@include breakpoint(small) { 
		height: calc(100vh - 5px) !important;
		justify-content: flex-end;
		align-items: flex-end; 
		text-align: left !important;
		margin-top: 0px !important;
		
	}
	@include breakpoint(smedium) {
		margin-top: $blurbTop;
	}
	@include breakpoint(xmedium) { 

	}
	@include breakpoint(large) { 

	}
	@include breakpoint(xlarge) {

	}
	@include breakpoint(xxlarge) {

	}	
}

div.pr-blurb-wrapper2 p {

	@include breakpoint(xxlarge) { 
		right: 0;
		left: auto;
	}		
}

/*********************
DIGITAL MARKETING AND PR SERVICE PAGE CONTENT
*********************/
div.mktg-left-content * {
	color: white;
	margin-left: 20px;
}
div.mktg-right-content * {
	color: #1e161d;
	margin-left: 20px;
}
p.mktg-text-sm {
	margin: 0 20px 20px 20px;
}

/*********************
CONTACT PAGE BLURB
*********************/
div.contact-blurb-wrapper {
	@include breakpoint(small) { 
		height: 0px !important;
		justify-content: flex-start;
		margin-top: $blurbTop;
		text-align: right !important;
	}
	@include breakpoint(smedium) {
		
	}	
	@include breakpoint(medium) {
		height: calc(100vh - 5px) !important;
		justify-content: flex-end;
		align-items: flex-end;
		margin-top: 0px !important; 
	}
	@include breakpoint(xmedium) { 

	}
	@include breakpoint(large) {

	}
	@include breakpoint(xlarge) {

	}
	@include breakpoint(xxlarge) {
		margin-top: 0px !important;
	}	
}

div.contact-blurb-wrapper2 p {

	@include breakpoint(xxlarge) { 
		right: 0;
		left: auto;
	}		
}

/*********************
CONTACT PAGE STYLES - DG
*********************/
.contact-left {
	text-align: center;
}
.contact-right {
	text-align: center;
}
.our-coordinates{
	margin-top: 50px;
}
.contact-text-large {
	font-size: 40px;
	font-weight: 700;
	line-height: 56px;
	margin-bottom: 0px;
}
.contact-text-medium {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 0px;
}
.contact-text-small {
	font-size: 24px;
	margin: 0px;
}	
.fa-envelope {
	margin-right: 10px;
}
.fa-phone {
	margin-right: 10px;
}
.facebook-square {
	margin-right: 10px;
}
.contact-right-wrap {
	background-color: #D8D8D8;
}

//Left area Email and Phone styling
.svg-inline--fa.fa-envelope.fa-w-16 {
	vertical-align: middle;
}
.svg-inline--fa.fa-phone.fa-w-16 {
	vertical-align: middle;
}

// FORM
.af-label .acf-label {
	
}
// FIRST NAME LABEL
label[for=acf-field_59c342eae3a98] {
	font-size: 18px;
}
// LAST NAME LABEL
label[for=acf-field_59c344270c066] {
	font-size: 18px;
}
// EMAIL ADDRESS LABEL
label[for=acf-field_59c3432ee3a99] {
	font-size: 18px;
}
// MESSAGE AREA LABEL
label[for=acf-field_59c3433ae3a9a] {
	font-size: 18px;
}

// FIRST NAME PLACEHOLDER
// TODO Fix placeholder text color
input#acf-field_59c342eae3a98 {
	color: #0a0a0a !important;
	font-size: 16px;
	height: 38px;
}
// LAST NAME PLACEHOLDER
input#acf-field_59c344270c066 {
	font-size: 16px;
	height: 38px;
}
// EMAIL ADDRESS PLACEHOLDER
input#acf-field_59c3432ee3a99 {
	font-size: 16px;
	height: 38px;
}
// MESSAGE AREA PLACEHOLDER 
#acf-field_59c3433ae3a9a {
	font-size: 16px !important;
}

#nf-field-4 {
	width: 100% !important;
}




/*********************
ACF CONTACT FORM STYLES - DG
*********************/
.acf-fields > .acf-field {
	border-top: 0 none transparent !important;
}
.acf-field[data-width] + .acf-field[data-width] {
	border-left: 0 none transparent !important;
}

@include breakpoint(xmedium down){
	.acf-field[data-width="50"] {
		width: 100% !important;
	}
}


/*********************
IMAGE GALLERY STYLES
*********************/
.gallery {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-right: -15px;
	margin-left: -15px; 
}
.gallery::before, .gallery::after {
	content: ' ';
	display: table; 
}
.gallery::after {
	clear: both; 
}
.gallery.gallery-columns-1 > dl {
	@include grid-column;
}
.gallery.gallery-columns-2 > dl {
	@include grid-column(1 of 2);
}
.gallery.gallery-columns-3 > dl {
	@include grid-column(1 of 3);
}
.gallery.gallery-columns-4 > dl {
	@include grid-column(1 of 4);
}
.gallery.gallery-columns-5 > dl {
	@include grid-column(1 of 5);
}
.gallery.gallery-columns-6 > dl {
	@include grid-column(1 of 6);
}
.gallery.gallery-columns-7 > dl {
	@include grid-column(1 of 7);
}
.gallery.gallery-columns-8 > dl {
	@include grid-column(1 of 8);
}
.gallery dl {
	width: 100%;
	float: left;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem; 
}
.gallery dl:last-child:not(:first-child) {
  float: right; 
 }

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PORTFOLIO GALLERY STYLES - DG
*********************/

.portfolio-caption > p {
	padding-top: 5px;
	line-height: 1;
	
	@include breakpoint(medium){
		line-height: 1.5;
	}
}

div.cell.portfolio-caption {
	padding: 0 10px 0 10px 0 !important;
}
.portfolio-caption {
	font-size: 20px;
	font-weight: 600;
}
.portfolio-image {
	border: solid 4px red;
}
.fancybox-caption {
	font-size: 18px;
	font-weight: 600;
}

.portfolio-caption.hover-image a {
	position: relative;
	display: block;
	float: none;
	overflow: hidden;
		img {
			transition: 0.33s ease-in-out;
			z-index: 0;
		}
	&:before {
		content: "";
	    display: block;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    background-color: transparent;
	    position:absolute;
	    transition: 0.5s ease-in-out;
	    z-index: 1;
  	}
  	&:hover {
	  	img {
	  		transform: scale(1.10);
	  	} 
    	&:before {
		background-color: rgba(0,0,0,.4);
		}
    }
}

// Fancybox Image Size
.inlineFancy {
	width: 300px;
	@include breakpoint(medium) {
		width: 600px;
	}
	@include breakpoint(large) {
		width: 800px;
	}	
}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth  
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes  
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard  
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #271c25;
		}

	} // end .commentlist .vcard  


	// comment meta  
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content  
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content  

	// comment reply link  
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {
		
		}

	} // end .commentlist .comment-reply-link  

} // end .commentlist  

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation  
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment form title  
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link  
#cancel-comment-reply {
	a {}
}

// logged in comments  
.comments-logged-in-as {}

// allowed tags  
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments  
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES - DG edits
*********************/
.sidebar {
	li{
		list-style: none;
	}
}

.widget {
	ul {
		margin-bottom: 16px;

	}
}

.widgettitle {
	margin-bottom: 0;
}

.widget_search {
	font-weight: bold;
}

//Search Form - "Search For" text - DG
.screen-reader-text {
	font-size: 25px;
}
/*********************
FOOTER STYLES
*********************/
.footer {
	position: fixed;
	z-index: -2;
	width: 100%;
	height: 50px;
	background-color: $eerie-black;
	font-family: 'Neue Haas Grotesk W01 Disp';
	text-align: center;
	color: $secondary-color;
	clear: both;
	margin-top: 0px;
	bottom: 0;
}
p.copyright {
	font-weight: 600;
	margin: 0 auto;
	text-align: center;
}
.joints-footer-nav{
	display: none;
}
	
/*********************
VISUAL EDITOR STYLES
*********************/
// Makes content look better in visual editor
body#tinymce {
   	margin: 20px;
}

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}



// TODO Flickity stuff

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
// end flickity stuff

.white-text {
	color: white;
}





