/*********************
FOOTER STYLES
*********************/
.footer {
	position: fixed;
	z-index: -2;
	width: 100%;
	height: 50px;
	background-color: $eerie-black;
	font-family: 'Neue Haas Grotesk W01 Disp';
	text-align: center;
	color: $secondary-color;
	clear: both;
	margin-top: 0px;
	bottom: 0;
}
p.copyright {
	font-weight: 600;
	margin: 0 auto;
	text-align: center;
}
.joints-footer-nav{
	display: none;
}

// This sets up the reveal modal for the bottomNav and footer
.off-canvas-wrapper {
	margin-bottom: 150px;
		@include breakpoint(medium){
		margin-bottom: 130px;
		}
}
.home .off-canvas-wrapper {
	margin-bottom: 0;
}
.off-canvas-content {
	background-color: white;
}
//Removes bottom nav from homepage
#page-id-2 .bottomNav {
	display: none;
}	
