/*********************
MAIN NAV - DG
*********************/
.top-bar {
	font-size: 24px;
	font-weight: bold;
	padding: 0;
	
	@include breakpoint(medium) {
		height: rem-calc(60px);
	}
}
.top-bar-left {
	font-size: rem-calc(32px);
}
.menu a {
	color: #F2DFD3;	
	&:hover {
		color: white;
	}
}
.menu .active>a, .menu .is-active>a {
	background: rgba(30,22,29, 0.5)
}
.submenu {
	background-color: rgba(29, 22, 28, 0.76);
}
.is-dropdown-submenu {
	background-color: rgba(29, 22, 28, 0.76);
}
.is-accordion-submenu-item {
	font-size: 20px;
	padding-left: 7%;
}
.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle)>a:after {
	right: 17rem !important;
}

.button {
	font-weight: bold;
}
.current-menu-item {
	background-color: rgba(29, 22, 28, 0.0);
}

// SPACING BETWEEN NAVIGATION ITEMS
.dropdown.menu a {
	@include breakpoint(medium){ 
		padding: 0 12px 0 0;
	}
	@include breakpoint(xmedium){ 
		padding: 0.7rem 1rem;
	}
	@include breakpoint(large){ 
		padding: 0.7rem 1rem;
	}	
}

/*********************
MOBILE NAV - DG
*********************/
.title-bar {
	background-color: $eerie-black !important;
}
button.menu-icon {
	margin-left: 30px;
	outline: none;
}
div.title-bar-title {
	margin: auto;
	text-align: center;
}
.title-bar-title a {
	font-size: 28px;
	color: $white;
}

/*********************
BOTTOM NAV - DG
*********************/

// Uses z-index in conjunction with .off-canvas-wrapper for reveal
.bottomNav {
	z-index: -2;
	position: fixed;
	font-size: rem-calc(32px);
	font-weight: 700;
	max-width: 100%;
	width: 100%;
	min-height: 80px;
	background-color: #F2DFD3;
	bottom: 50px;
	li, div {
		a, i {
			color: #271c25;
			&:hover {
// 				color: rgba($black, 0.8);
				color: rgba(#271c25, 0.9);
// 				color: #4b2f48;
			}
		}
		&.small-clear-all {
			width: 100% !important;
			text-align: center;
			@include breakpoint(medium) {
				width: auto !important;
			}
		}
	}
}
.svg-inline--fa {
	font-size: 42px !important;
}
svg.svg-inline--fa.fa-phone-square.fa-w-14 {
	margin-right: 12px;
}
svg.svg-inline--fa.fa-envelope-square.fa-w-14 {
	margin-right: 12px;
}
svg.svg-inline--fa.fa-facebook-square.fa-w-16 {
	margin-left: 12px;
}
svg.svg-inline--fa.fa-twitter-square.fa-w-16 {
	margin-left: 12px;
}
