/*********************
PORTFOLIO GALLERY STYLES - DG
*********************/

.portfolio-caption > p {
	padding-top: 5px;
	line-height: 1;
	
	@include breakpoint(medium){
		line-height: 1.5;
	}
}

div.cell.portfolio-caption {
	padding: 0 10px 0 10px 0 !important;
}
.portfolio-caption {
	font-size: 20px;
	font-weight: 600;
}
.portfolio-image {
	border: solid 4px red;
}
.fancybox-caption {
	font-size: 18px;
	font-weight: 600;
}

.portfolio-caption.hover-image a {
	position: relative;
	display: block;
	float: none;
	overflow: hidden;
		img {
			transition: 0.33s ease-in-out;
			z-index: 0;
		}
	&:before {
		content: "";
	    display: block;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    background-color: transparent;
	    position:absolute;
	    transition: 0.5s ease-in-out;
	    z-index: 1;
  	}
  	&:hover {
	  	img {
	  		transform: scale(1.10);
	  	} 
    	&:before {
		background-color: rgba(0,0,0,.4);
		}
    }
}

// Fancybox Image Size
.inlineFancy {
	width: 300px;
	@include breakpoint(medium) {
		width: 600px;
	}
	@include breakpoint(large) {
		width: 800px;
	}	
}