<!-- Start OLD Front Page bulurb markup -->

<div class="blurb-wrapper front-blurb-wrapper">
<p class="blurb animated fadeIn animated1">Ready to light up the world</p>

<div class="blurb-wrapper2 front-blurb-wrapper2">
<p class="blurb animated fadeIn animated2">with a bright idea?</p>
<p class="blurb animated fadeIn animated3">éclat.digital is here to help.</p>

</div>
</div>

<!-- End OLD Front Page bulurb markup -->

<div class="blurb-wrapper front-blurb-wrapper">
	
<p class="blurb animated fadeIn animated1"><span class="rwd-line">Ready to light up the world</p>
</span>

<div class="blurb-wrapper2 front-blurb-wrapper2">
<span class="rwd-line">		
<p class="blurb animated fadeIn animated2">with a bright idea?</p>
</span>

<span class="rwd-line">	
<p class="blurb animated fadeIn animated3">éclat.digital is here to help.</p>
</span>

</div>
</div>




<!-- Start Ninja Forms markup -->

<div class="right-content contact-right">
<p class="contact-text-large">Get in touch</p>
[ninja_form id=1]
[advanced_form form="form_59c3436767d13"]
</div>

<!-- End Ninja Forms markup -->

<button type="submit" class="acf-button af-submit-button button expanded large">Submit</button>